.header-icons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
    /* background-color: green; */
}
.FiSearch {
    font-size: 25px;
}
.IoIosNotificationsOutline {
    font-size: 28px;
}
.badge {
    background-color: #fff;
    /* margin-right: 148px ; */
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 200px;
}
.good-text{
    font-size: 25px;
}

.student {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    background-color: #fff;
    border-radius: 30px;
}

.num {
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 0px;
}
.txt {
    margin-left: 25px;
    color: rgba(208, 76, 141, 1);
}

.Assessment-result {
    background-color: #fff;
    height: 780px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.Assessment-heading{
    color: #D04C8D;
    margin-top: 25px;
    /* background-color: darkslategrey; */
}
.Average-container {
    /* background-color: dodgerblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 330px;
}
.unordered-list {
    /* background-color: lawngreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.idea p::before {
    content: "\2022";;
    color: #44439E; 
    font-weight: bold;
    width: 1em; 
    margin-left: -1em;
}
.resources p::before {
    content: "\2022";;
    color: #FFC107; 
    font-weight: bold;
    width: 1em; 
    margin-left: -7em;
}
.into p::before {
    content: "\2022";;
    color: #FF7BBE; 
    font-weight: bold;
    width: 1em; 
    margin-left: -6.8em;
}
.saly {
    /* background-color: lightcoral; */
    margin-top: 18px;
}

/*-----------------Comparative Bar-----------------------*/
.Comparative-container {
    /* background-color: darkseagreen; */
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-left: 25px;
    /* margin-bottom: 5px; */
    height: 780px;
}

.Comparative-Bar {
    background-color: #fff;
    height: 400px;
    width: 100%;
    border-radius: 20px;
}
.top-text-container{
    /* background-color: lime; */
    display: flex;
    gap: 530px ;
    margin: 25px 20px 0px;
    font-size: 1.2rem;
}
.BsThreeDotsVertical {
    margin-top: 4px;
    color: #9CA3AF;
    font-size: 18px;
}
.Comparative-sub-bar {
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
    gap: 15px;
    margin-top: 0px;
    height: 290px;
}
.sub-English-Proficiency {
    /* background-color: royalblue; */
    height: 23%;
}
.sub-English-Proficiency1 {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    margin: 15px 25px 0px 20px;
}
#myProgress {
    width: 93.2%;
    background-color: #ddd;
    margin: 0px 20px;
    display: flex;
}
#myBar1 {
    width: 43%;
    height: 13px;
    background-color: #504F8C;
    text-align: center;
    line-height: 13px;
    color: white;
}
#myBar2 {
    width: 57%;
    background-color:#D04C8D;
    text-align: center;
   color: white;
}
.sub-English-Proficiency2 {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    margin: 1px 25px 3px 20px;
    font-size: 10px;
}
.Not {
    color: #D04C8D;
}

.IT-Skills {
    /* background-color: seagreen; */
    height: 25%;
}
.IT-Skills1 {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    margin: 0px 25px 3px 20px;
}
#myProgress1 {
    width: 93.2%;
    background-color: #ddd;
    margin: 0px 20px;
    display: flex;
}
#myBar3 {
    width: 19%;
    height: 13px;
    background-color: #504F8C;
    text-align: center;
    line-height: 13px;
    color: white;
}
#myBar4 {
    width: 81%;
    background-color:#D04C8D;
    text-align: center;
   color: white;
}
.IT-Skills2 {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    margin: 1px 25px 3px 20px;
    font-size: 10px;
}

.Employability-Factors {
    /* background-color: springgreen; */
    height: 25%;
}
.Employability-Factors1{
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    margin: 0px 25px 3px 20px;
}
#myProgress2 {
    width: 93.2%;
    background-color: #ddd;
    margin: 0px 20px;
    display: flex;
}
#myBar5 {
    width: 68%;
    height: 13px;
    background-color: #504F8C;
    text-align: center;
    line-height: 13px;
    color: white;
}
#myBar6 {
    width: 32%;
    background-color:#D04C8D;
    text-align: center;
   color: white;
}
.Employability-Factors2 {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    margin: 1px 25px 3px 20px;
    font-size: 10px;
}

.Other-Factors {
    /* background-color: green; */
    height: 25%;
}
.Other-Factors1{
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    margin: 0px 25px 3px 20px;
}
#myProgress3 {
    width: 93.2%;
    background-color: #ddd;
    margin: 0px 20px;
    display: flex;
}
#myBar7 {
    width: 94%;
    height: 13px;
    background-color: #504F8C;
    text-align: center;
    line-height: 13px;
    color: white;
}
#myBar8 {
    width: 6%;
    background-color:#D04C8D;
    text-align: center;
   color: white;
}
.Other-Factors2 {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    margin: 1px 25px 3px 20px;
    font-size: 10px;
}

.graph-card {
    width: 100%;
    height: 45%;
    margin-top: 3%;
}

@media only screen and (min-width:320px) and (max-width:1550px){
    .circle3 {
        height: 60%;
    }
    .Assessment-result {
        height: 800px;
    }
} 

