.navbar-container {
    /* background-color:#E5E5E5; */
    width: 100%;
    /* position: fixed; */
}
.sub-navbar {
    background-color:#fff;
    /* position: fixed; */
    margin-top: 15px;
    height: 700px;
    width: 100%;
    border-radius: 0px 40px 40px 0px;
}
.logo-container{
    /* background-color: palegreen; */
    /* position: absolute; */
    display: flex;
    /* justify-content: center; */
    height: 25%;
}
.App-logo1 {
    /* background-color: orange; */
    margin-top: 60px;
    margin-left: 65px;
    height: 40px;
    position: absolute;
}
.logo-text {
    /* background-color: palevioletred; */
    position: relative;
    margin-left: 130px;
    margin-top: 90px;
}
/* ----- Menubar container ------- */
.menu-container {
    /* background-color: peru; */
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 40%;
}
/*  ---- Menubar buttons  -------- */
.dashboard-btn {
    /* background-color: #150485; */
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 20%;
    color: rgba(172, 172, 172, 1);
}
.dashboard-btn:hover, .student-btn:hover, .university-btn:hover, .settings-btn:hover, .help-btn:hover {
    color:rgba(208, 76, 141, 1);
    cursor: pointer;
    /* background-color: lawngreen; */
} 
.active-btn:hover {
    color: rgba(208, 76, 141, 1);
    border-right: 3px solid rgba(208, 76, 141, 1);
    border-radius: 3px;
}
.active-btn{
    color: rgba(208, 76, 141, 1);
    border-right: 3px solid rgba(208, 76, 141, 1);
    border-radius: 3px;
}
.vscHome{
    /* background-color: tomato; */
    font-size: 23px;
    margin:0px 10px 0px 60px;
}
/* .dashboard-btn p{
    background-color: turquoise;
} */

.student-btn {
    /* background-color: #590995; */
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(172, 172, 172, 1);
    height: 20%;
}
.AiOutlineUse{
    font-size: 23px;
    margin:0px 10px 0px 60px;
}
/* .student-btn p{
    background-color: turquoise;
} */

.university-click {
    text-decoration: none;
    padding: 0px;
    color:rgba(172, 172, 172, 1);

    /* background-color: lightcoral; */
}
.sub-click {
    height: 20%;
    /* background-color: burlywood; */
}
.university-btn {
    /* background-color: #C62A88; */
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 100%;
}
.VscMortarBoard {
    font-size: 25px;
    margin:0px 8px 0px 60px;
    /* background-color: turquoise; */
}
/* .university-btn p{
    background-color: turquoise;
} */

.settings-btn {
    /* background-color: #03C4A1; */
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(172, 172, 172, 1);
    height: 20%;
}
.IoSettingsOutline {
    font-size: 20px;
    margin:0px 10px 0px 60px;
}
/* .settings-btn p{
    background-color: turquoise;
} */

.help-btn {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    font-size: 16px;
    color: rgba(172, 172, 172, 1);
    height: 20%;
}
.IoHelpCircleOutline {
    font-size: 23px;
    margin:0px 8px 0px 60px;
}
/* .help-btn p{
    background-color: turquoise;
} */

 

